# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Archivos temporales
*.log

# VS Code
.vscode/

# Datos pesados (opcional)
data/raw/*.csv

# uv cache (por si acaso)
.uv/